[submodule "Losers.jl"]
	path = Losers.jl
	url = https://github.com/Dale-Black/Losers.jl
[submodule "DistanceTransforms.jl"]
	path = DistanceTransforms.jl
	url = https://github.com/Dale-Black/DistanceTransforms.jl
[submodule "CalciumScoring.jl"]
	path = CalciumScoring.jl
	url = https://github.com/Dale-Black/CalciumScoring.jl
[submodule "ComputerVisionTutorials.jl"]
	path = ComputerVisionTutorials.jl
	url = https://github.com/Dale-Black/ComputerVisionTutorials.jl
