[submodule "Losers.jl"]
	path = Losers.jl
	url = https://github.com/Dale-Black/Losers.jl
[submodule "DistanceTransforms.jl"]
	path = DistanceTransforms.jl
	url = https://github.com/Dale-Black/DistanceTransforms.jl
[submodule "CalciumScoring.jl"]
	path = CalciumScoring.jl
	url = https://github.com/Dale-Black/CalciumScoring.jl
[submodule "PlutoDashboards"]
	path = PlutoDashboards
	url = https://github.com/Dale-Black/PlutoDashboards
[submodule "TidierCourse"]
	path = TidierCourse
	url = https://github.com/Dale-Black/TidierCourse
